.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-results {
  display: flex;
  max-width: 600px;
  max-height: 400px;
  width: 600px;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 0;
  overflow-y: scroll;
}

.search-results .search-result-title em {
  font-weight: 800;

}

.search-results .search-result-text em {
  font-weight: 800;
  background-color: yellow;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
